<?xml version="1.0" encoding="UTF-8"?>
<root>
  <title lang="en">The App</title>
  <tabapp>
    <title lang="en">The App</title>
    <urlslist>
      <title lang="en">The App</title>
      <urls category="appnews">
        <title lang="en">Latest App News</title>
        <author>David Honisch</author>
        <year>01.05.2022</year>
        <price>0.00</price>
        <url>https://www.letztechance.org/read-20-48.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/read-20-48.html')</urltarget>
      </urls>

      <urls category="cooking">
        <title lang="en">Latest News</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.00</price>
        <url>https://www.letztechance.org/start.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/start.html')</urltarget>
      </urls>

      <urls category="security">
        <title lang="en">Security</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/list-3-1.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/list-3-1.html')</urltarget>
      </urls>

      <urls category="web">
        <title lang="en">Links</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/list-87-1.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/list-87-1.html')</urltarget>
      </urls>

      <urls category="tools">
        <title lang="en">Tools</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/plugins.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/plugins.html')</urltarget>
      </urls>

      <urls category="games">
        <title lang="en">Games</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/games.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/start.html')</urltarget>
      </urls>

      <urls category="games">
        <title lang="en">Intro</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/LC2Intro.v.4.0/index.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/LC2Intro.v.4.0/index.html')</urltarget>
      </urls>

    </urlslist>
  </tabapp>

  <tabutils>
    <title lang="en">Utilities</title>
    <urlslist>
      <title lang="en">The Utilities</title>

      <urls category="appnews">
        <title lang="en">Latest Utilities News v.1.0</title>
        <author>David Honisch</author>
        <year>14.09.2022</year>
        <price>0.00</price>
        <url>Transform XML v.1.0</url>
        <urltarget>javascript:alert('Test')</urltarget>
      </urls>

      <urls category="appnews">
        <title lang="en">Transform XML v.1.0</title>
        <author>David Honisch</author>
        <year>14.09.2022</year>
        <price>0.00</price>
        <url>Transform XML v.1.0</url>
        <urltarget>javascript:execCMD('exec .\\resources\\plugins\\LC2JXMLTransform\\xmltransform.bat .\\app.xml .\\app.xslt', 'out')</urltarget>
      </urls>

      <urls category="appnews">
        <title lang="en">Latest Utilities News</title>
        <author>David Honisch</author>
        <year>14.09.2022</year>
        <price>0.00</price>
        <url>Transform XML v.1.0</url>
        <urltarget>javascript:alert('exec .\\resources\\plugins\\LC2JXMLTransform\\xmltransform.bat .\\app.xml .\\app.xslt', 'out')</urltarget>
      </urls>


      <urls category="appnews">
        <title lang="en">Latest Utilities News</title>
        <author>David Honisch</author>
        <year>14.09.2022</year>
        <price>0.00</price>
        <url>Transform with Plugin</url>
        <urltarget>javascript:execCMD('exec .\\resources\\plugins\\LC2JXMLTransform\\xmltransform.bat .\\resources\\plugins\\LC2JXMLTransform\\xml\\urls.xml .\\resources\\plugins\\LC2JXMLTransform\\xml\\urlsext.xslt', 'app_cnt');</urltarget>
      </urls>

      <urls category="games">
        <title lang="en">Intro</title>
        <author>David Honisch</author>
        <year>01.01.2022</year>
        <price>0.0</price>
        <url>https://www.letztechance.org/LC2Intro.v.4.0/index.html</url>
        <urltarget>javascript:openBrowser('https://www.letztechance.org/LC2Intro.v.4.0/index.html')</urltarget>
      </urls>
    </urlslist>
  </tabutils>
</root>