<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

  <appSettings>
    <add key="TopMost" value="false"/>
    <add key="download" value="LC2MultiDownloader.exe"/>
    <add key="index.html" value="LC2Start.NET.exe.html"/>
    <add key="dontextracttwice" value="extract.exe;LC2ZIP.dll;ICSharpCode.SharpZipLib.dll"/>
    <add key="extract.exe" value="https://raw.githubusercontent.com/David-Honisch/Launcher.NET/master/extract.exe"/>
    <add key="LC2ZIP.dll" value="https://raw.githubusercontent.com/David-Honisch/Launcher.NET/master/LC2ZIP.dll"/>
    <add key="ICSharpCode.SharpZipLib.dll" value="https://raw.githubusercontent.com/David-Honisch/Launcher.NET/master/ICSharpCode.SharpZipLib.dll"/>
    <add key="exe32" value="release-builds\\LCUnityServer.exe"/>
    <add key="exe" value=".\\LCUnityServer.exe"/>
  </appSettings>
</configuration>