aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
altgraph==0.17.5
annotated-types==0.7.0
anyio==4.10.0
attrs==25.4.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
colorama==0.4.6
contourpy==1.3.2
cryptography==46.0.5
cycler==0.12.1
dataclass-wizard==0.35.1
diffusers==0.33.1
et_xmlfile==2.0.0
filelock==3.18.0
Flask==3.1.1
Flask-Uploads==0.2.1
fonttools==4.58.4
frozenlist==1.8.0
fsspec==2025.5.1
ftfy==6.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.33.0
ibm-cos-sdk==2.14.3
ibm-cos-sdk-core==2.14.3
ibm-cos-sdk-s3transfer==2.14.3
ibm_watsonx_ai==1.3.34
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.8
lomond==0.3.3
lxml==6.0.1
Markdown==3.10.1
MarkupSafe==3.0.2
matplotlib==3.10.3
mcp==1.23.1
microdot==2.5.1
mpmath==1.3.0
multidict==6.7.0
networkx==3.5
numpy==2.3.0
open_clip_torch @ https://github.com/mlfoundations/open_clip/archive/bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b.zip#sha256=a594e737394d4463872151a1e84ab5fa502a4f72686943526b663fa939d786b1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pefile==2024.8.26
pillow==11.2.1
propcache==0.4.1
protobuf==3.20.0
py2exe==0.14.0.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.1
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-magic==0.4.27
python-magic-bin==0.4.14
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
referencing==0.37.0
regex==2024.11.6
requests==2.32.4
rpds-py==0.30.0
safetensors==0.5.3
sentencepiece==0.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sse-starlette==3.0.3
starlette==0.50.0
sympy==1.14.0
tabulate==0.9.0
tokenizers==0.21.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.52.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
wcwidth==0.3.0
Werkzeug==3.1.0
xlsxwriter==3.2.5
yarl==1.22.0
zipp==3.23.0
