<div><a class="nav-link add" href="#" onclick="window.view.addPerson(this)">Add</a></div>
<h2>Edit Adress</h2>
<div class="container">
  <form id="edit-person-form">
    <div class="container-fluid">
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="person_id">Person ID</label>
        <input class="col-xs-5 form-control" type="text" id="person_id" aria-describedby="personIdHelpInline" readonly>
        <small id="personIdHelpInline" class="col-xs-5 align-top form-text text-muted">
          The number assigned to the person below.</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="name">Name</label>
        <input class="col-xs-5 form-control" type="text" id="name" aria-describedby="nameHelpInline">
        <small id="nameHelpInline" class="col-xs-5 align-top form-text text-muted">
          A person's last name or surname (family name).</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="first_name">First Name</label>
        <input class="col-xs-5 form-control" type="text" id="first_name" aria-describedby="firstNameHelpInline">
        <small id="firstNameHelpInline" class="col-xs-5 align-top form-text text-muted">
          A person's first name or given name (Christian name).</small>
      </div>


      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="description">Description</label>
        <input class="col-xs-5 form-control" type="text" id="description" aria-describedby="descriptionHelpInline">
        <small id="descriptionHelpInline" class="col-xs-5 align-top form-text text-muted">
          Please add a description of your choice.</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="zipcode">Zipcode</label>
        <input class="col-xs-5 form-control" type="text" id="zipcode" aria-describedby="zipcodeHelpInline">
        <small id="zipcodeHelpInline" class="col-xs-5 align-top form-text text-muted">
          Please add a zipcode of your choice.</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="city">City</label>
        <input class="col-xs-5 form-control" type="text" id="city" aria-describedby="cityHelpInline">
        <small id="cityHelpInline" class="col-xs-5 align-top form-text text-muted">
          Please add a city of your choice.</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="street">Street</label>
        <input class="col-xs-5 form-control" type="text" id="street" aria-describedby="streetHelpInline">
        <small id="streetHelpInline" class="col-xs-5 align-top form-text text-muted">
          Please add a street of your choice.</small>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="url">Url</label>
        <input class="col-xs-5 form-control" type="text" id="url" aria-describedby="urlHelpInline">
        <small id="urlHelpInline" class="col-xs-5 align-top form-text text-muted">
          Please add a url of your choice.</small>
      </div>

      <div class="form-group row offset-sm-1">
        <button class="col-sm-auto m-1 btn btn-primary justify-content-start p-0.5" id="edit-person-submit"
          type="submit">Update</button>
      </div>
    </div>
  </form>
</div>