<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active people" href="#" onclick="window.view.listPeople(this)">
      Adresslist <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link add" href="#" onclick="window.view.addPerson(this)">Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link crawl" href="sql.html">SQL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link crawl" href="tools.html">Tools</a>
  </li>
</ul>
