<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="isBGShown" value="false"/>
    <add key="isStatusShown" value="false"/>
    <add key="snapToTop" value="false"/>
    <add key="snapToRight" value="false"/>
    <add key="width" value="520"/>
    <add key="height" value="313"/>

    <add key="wwidth" value="170"/>
    <add key="wheight" value="170"/>

    <add key="wx" value="0"/>
    <add key="wy" value="0"/>

    <add key="btnQuitx" value="400"/>
    <add key="btnQuity" value="20"/>
    
    <add key="DockStyle" value="NONE"/>
    <add key="wDockStyle" value="FILL"/>
    <add key="TransparencyKey" value="White"/>
    
    <add key="Background" value="BGJPG.png"/>
    
    <add key="extract.exe" value="https://github.com/David-Honisch/Launcher.NET/blob/master/extract.exe?raw=true"/>
    <add key="LC2ZIP.dll" value="https://github.com/David-Honisch/Launcher.NET/blob/master/LC2ZIP.dll?raw=true"/>
    <add key="ICSharpCode.SharpZipLib.dll" value="https://github.com/David-Honisch/Launcher.NET/blob/master/ICSharpCode.SharpZipLib.dll?raw=true"/>
    <add key="exe" value="TwainGui.exe"/>

  </appSettings>
</configuration>